<div class="card m-auto fixed-top header">
    <div class="card-body justify-content-center d-flex text-success-emphasis fw-semibold">
        <i class="bi bi-graph-up me-1"></i>Sales Report
    </div>
  </div>
  <div class="card m-auto justify-content-center d-flex" style="margin-top: 75px !important; width: 90%;">
    <div class="card-body">
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Discount ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Category</th>
        <th scope="col">Product Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Order Date</th>
        <th scope="col">Final Price</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        @for (sale of sales; track $index) {
            <tr>
                <th scope="row">#{{sale.id}}</th>
                <td>{{sale.userId}}</td>
                <td>{{sale.product_id}}</td>
                <td>{{sale.discount_id}}</td>
                <td>{{sale.product_name}}</td>
                <td>{{sale.product_category}}</td>
                <td>{{sale.product_price | currency}}</td>
                <td>{{sale.discount | currency}}</td>
                <td>{{sale.quantity}}</td>
                <td>{{sale.created_date | date: 'longDate'}}</td>
                <td>{{sale.final_price | currency}}</td>
              </tr>
              
        }
        <tr style="pointer-events: none;">
            <td colspan="9" id="td-bg-white" style="border-bottom: none;"></td>
            <td class="fw-semibold" style="border-left: 1px solid #dfe2e6; background-color: color(srgb 0.9725 0.9726 0.9727) !important;">Total Sales</td>
            <td class="text-success-emphasis" style="border-right: 1px solid #dfe2e6;
            background-color: color(srgb 0.9725 0.9726 0.9727) !important;">{{totalSale | currency}}</td>
        </tr>
      
      
    </tbody>
  </table>
  
  </div>
  </div>