<div style="text-align: center">
  <div class="card" style="max-width: 38rem; margin: auto">
    <div class="card-header">Create Product</div>
    <div class="card-body">
      <form
        (ngSubmit)="createUser(createForm)"
        #createForm="ngForm"
        style="width: 80%; margin: auto"
      >
        <div class="input-group" style="margin-bottom: 1rem">
          <span class="input-group-text" id="basic-addon3" style="width: 117px"
            >Name</span
          >
          <input
            type="text"
            class="form-control"
            name="name"
            aria-describedby="basic-addon3 basic-addon4"
            [(ngModel)]="product.name"
            placeholder="Enter Name here..."
            required
          />
        </div>

        <div class="input-group" style="margin-bottom: 1rem">
          <span class="input-group-text" id="basic-addon3" style="width: 117px"
            >Category</span
          >
          <input
            type="text"
            class="form-control"
            name="category"
            aria-describedby="basic-addon3 basic-addon4"
            [(ngModel)]="product.category"
            placeholder="Enter Category here..."
            required
          />
        </div>

        <div class="input-group" style="margin-bottom: 1rem">
          <span class="input-group-text" id="basic-addon3" style="width: 117px"
            >Price</span
          >
          <input
            type="number"
            class="form-control"
            name="price"
            [(ngModel)]="product.price"
            aria-describedby="basic-addon3 basic-addon4"
            placeholder="Enter Price here..."
            required
          />
        </div>

        <div class="input-group" style="margin-bottom: 1rem">
          <span class="input-group-text" id="basic-addon3" style="width: 117px"
            >Quantity</span
          >
          <input
            type="number"
            class="form-control"
            name="quantity"
            [(ngModel)]="product.quantity"
            aria-describedby="basic-addon3 basic-addon4"
            placeholder="Enter Quantity here..."
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
  
</div>
